@model AttendanceManagement.Models.Leave

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Leave</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CasualLeaves)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CasualLeaves)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SickLeaves)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SickLeaves)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaternalLeaves)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaternalLeaves)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OptionalHolidays)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OptionalHolidays)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
